<app-page-header
  title="customers"
  icon="fas fa-address-book"
  description="list of customers"
></app-page-header>

<div class="row">
  <div class="col-8">
    <input
      [(ngModel)]="term"
      type="search"
      name="term"
      class="form-control"
      placeholder="Search customer by phone"
    />
  </div>
  <div class="col-4">
    <span class="float-right">
      <a routerLink="/customers/new" class="btn btn-primary">
        <i class="fas fa-plus-circle"></i>
        {{ "add new customer" | titlecase }}
      </a>
    </span>
  </div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div *ngIf="customersObservable | async as customers; else loading">
      <table
        *ngIf="customers.length; else noCustomers"
        class="table table-bordered"
      >
        <thead>
          <tr>
            <th>#No.</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let customer of customers | filterArray: 'phone':term;
              index as idx
            "
          >
            <td>
              {{ idx + 1 }}
              <a [routerLink]="['/customers', customer.id, 'edit']" class="ml-3"
                ><i class="fas fa-pen"></i
              ></a>
              <a href="" class="ml-3" (click)="remove(customer.id, $event)"
                ><i class="fas fa-trash-alt"></i
              ></a>
            </td>
            <td>
              <a [routerLink]="['/customers', customer.id]">{{
                customer.firstName
              }}</a>
            </td>
            <td>{{ customer.lastName }}</td>
            <td>
              <a [href]="'mailto:' + customer.email">{{ customer.email }}</a>
            </td>
            <td>
              <a [href]="'tel:' + customer.phone">{{ customer.phone }}</a>
            </td>
          </tr>
        </tbody>
      </table>

      <ng-template #noCustomers>
        <p><i>No customers...</i></p>
      </ng-template>
    </div>

    <ng-template #loading>
      loading...
    </ng-template>
  </div>
</div>
